apiVersion: v1
kind: Config
clusters:
- name: "control"
  cluster:
    server: "https://rancher.aedifion.eu/k8s/clusters/c-nmzrk"

users:
- name: "control"
  user:
    token: "kubeconfig-u-rwdlrlblcj:dl5kjnsf76v7m5rjm9fwr8tn2lknld9zwgm2mx72bwvp59mbw7m77z"


contexts:
- name: "control"
  context:
    user: "control"
    cluster: "control"

current-context: "control"

